* {
    margin: 0;
    padding: 0;
}

:root {
    --primary: #161A30;
    --secondary: #31304D;
    --ternary: #B6BBC4;
    --light: #F0ECE5;
}


.navbar {
    background-color: var(--light);
    color: var(--primary);
    padding: 20px 12px;
    font-size: 24px;
}

.quiz-card {
    max-width: 800px;
    margin: auto;
    margin-top: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: var(--light);
    border-radius: 5px;
    padding: 40px 10px;
    box-shadow: 16px 18px 20px 0px #33333371;


    .quiz-question {
        font-weight: bold;
        font-size: 24px;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 24px;
    }

    .quiz-answers {
        display: flex;
        gap: 16px;
        justify-content: flex-start;
        flex-direction: column;
        width: 90%;
        
        .quiz-answer {
            background-color: var(--secondary);
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 20px;
            cursor: pointer;
            
            &:hover {
                background-color: var(--primary);
            }
        }
    }
}